{{template "base" .}}

{{define "content"}}
<!-- Main Content -->
<div class="container">

    <!-- Image -->
    <div class="row">
        <div class="col">
            <img src="/static/images/executive.png" class="img-fluid img-thumbnail mx-auto d-block room-image"
                alt="Executive Room">
        </div>
    </div>

    <!-- Description -->
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Executive Suite</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis sunt omnis voluptatum debitis
                veritatis iste quisquam labore. Id neque ea, laboriosam molestiae quasi perspiciatis rem debitis,
                voluptatem natus ut assumenda. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem
                consequatur non aliquam provident reiciendis esse libero expedita dolores facilis quod voluptate omnis
                impedit iure eius, porro quisquam facere eos vero. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Reprehenderit odio unde sunt officiis debitis, minima omnis optio quam et odit numquam, placeat
                dolore nam minus cum aut expedita, molestias aperiam. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Ullam, delectus, deleniti quaerat earum temporibus reiciendis in quisquam cupiditate aliquam
                laboriosam rerum, obcaecati architecto dolores quasi. Recusandae natus distinctio earum ea.
            </p>
        </div>
    </div>

    <!-- Button -->
    <div class="row">
        <div class="col text-center">
            <a id="check-availability-button" class="btn btn-success" href="#!">Check Availability</a>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    // set html template for pop up prompt
    document.getElementById("check-availability-button").addEventListener("click", function () {
        let html = `
        <form id="check-availability-form" action="" method="POST" novalidate class="needs-validation">
            <div class="row mx-auto">
                <div class="col">
                    <div class="row row-cols-2" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="checkInDate" id="checkInDate" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="checkOutDate" id="checkOutDate" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;
        attention.custom({
            title: 'Choose your dates',
            msg: html,
        });
    });
</script>
{{end}}