{{template "base" .}}

{{define "css"}}
<!-- vanillajs-datepicker -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bs5.min.css">
<!-- notie -->
<link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">

<style>
    .notie-container {
        box-shadow: none;
    }
</style>
{{end}}

{{define "content"}}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="mt-5 ">Search Available Rooms</h1>

            <!-- Search Form -->
            <form action="" method="GET" novalidate class="needs-validation">
                <!-- Room Type -->
                <div class="row row-cols-2">
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>

                <div class="row row-cols-2" id="reservationDates">
                    <div class="col">
                        <label for="checkInDate" class="form-label">Check In</label>
                        <input type="text" class="form-control" id="checkInDate" name="checkInDate"
                            aria-describedby="checkInDateHelp" placeholder="Arrival" required>
                        <div id="checkInDateHelp" class="form-text">Enter your check-in date.</div>
                    </div>
                    <div class="col">
                        <label for="checkOutDate" class="form-label">Check Out</label>
                        <input type="text" class="form-control" id="checkOutDate" name="checkOutDate"
                            aria-describedby="checkOutDateHelp" placeholder="Departure" required>
                        <div id="checkOutDateHelp" class="form-text">Enter your check-out date.</div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}

<script>
    const elem = document.getElementById("reservationDates");
    const rangepicker = new DateRangePicker(elem, {
        format: yyyy - mm - dd,
    });

    // bootstrap form submissions validator
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            let forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    // notify function with notie
    function notify(msg, msgType) {
        notie.alert({
            type: msgType, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
            text: msg,
        })
    }
</script>
<!-- vanillajs-datepicker -->
<script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
<!-- notie -->
<script src="https://unpkg.com/notie"></script>
{{end}}