{{template "base" .}}

{{define "css"}}
<style>
    .notie-container {
        box-shadow: none;
    }
</style>
{{end}}

{{define "content"}}
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 class="mt-5 ">Search Available Rooms</h1>

            <!-- Search Form -->
            <form action="" method="POST" novalidate class="needs-validation">
                <!-- Room Type -->
                <div class="row row-cols-2">
                    <div class="col">
                    </div>
                    <div class="col">
                    </div>
                </div>

                <div class="row row-cols-2" id="reservationDates">
                    <div class="col">
                        <label for="checkInDate" class="form-label">Check In</label>
                        <input type="text" class="form-control" id="checkInDate" name="checkInDate"
                            aria-describedby="checkInDateHelp" placeholder="Arrival" required>
                        <div id="checkInDateHelp" class="form-text">Enter your check-in date.</div>
                    </div>
                    <div class="col">
                        <label for="checkOutDate" class="form-label">Check Out</label>
                        <input type="text" class="form-control" id="checkOutDate" name="checkOutDate"
                            aria-describedby="checkOutDateHelp" placeholder="Departure" required>
                        <div id="checkOutDateHelp" class="form-text">Enter your check-out date.</div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>
{{end}}

{{define "js"}}
<script>
    const elem = document.getElementById("reservationDates");
    const rangepicker = new DateRangePicker(elem, {
        format: "yyyy-mm-dd",
    });
</script>
{{end}}